body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4;
}

.form-container {
	background-color: #ffffff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 375px;
}

form section {
	margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
	outline: none;
	border-color: rgb(0, 122, 112);
}

button {
	width: 100%;
	padding: 10px;
	border: none;
	background-color: rgb(0, 122, 112);
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(0, 100, 95);
}

.login-text {
	text-align: center;
	margin-top: 20px;
}

.login-text a {
	color: rgb(0, 122, 112);
	text-decoration: none;
}

.login-text a:hover {
	text-decoration: underline;
}

.error-message {
	color: red;
	font-size: 14px;
	height: 18px; /* Reserve space for error message to avoid layout shift */
}

input.error {
	border-color: red;
	outline-color: red;
}

#signupForm a,
#loginForm a,
label {
	font-weight: bold;
}

.server {
	text-align: center;
	margin-top: 20px;
}
