body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.search-bar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4)
}
#property-modal{
    justify-content: center;
    text-align: center;
    margin: auto;
}
#modal-property-details img{
    width: 600px;
}
#modal-property-details button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin: 15px;
}
#modal-property-details{
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 30px;
    width: 600px;
}
.close{
    color: white;
    background-color: white;
    position: relative;
    left: 75%;
 top: 100px;
    width: fit-content;
    display: flex;
    font-size: 80px;
    cursor: pointer;
}
/* Properties */
#property-list{
    margin-top: 140px;
   
}
.property-card {
    font-size: large;
    display: flex;
    border: 0px solid #ccc;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(7, 7, 7, 0.2) 0px 16px 48px;
    width: 25%;
}
.price{
background-color: lightgrey;
border-radius: 5px;

}
.property-card img {
    width: 200px;;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.property-details {
    padding: 10px;
    
}

.property-details h2 {
    color: rgb(0, 100, 95);
    margin-top: 0;
    margin-left: 15px;;
    font-style: italic;
}

.property-details p {
    margin: 15px;
}

.property-details button {
    padding: 5px 10px;
    margin-left: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.property-details button:hover {
    background-color: #0056b3;
}
